
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         {%with messages = get_flashed_messages()%}
            {%if messages%}
               {% for message in messages %}
                  <div class="alert alert-success alert-dismissable" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                         <span aria-hidden="true">&times;</span>
                   </button>
                      {{message}}
                   </div>
               {%endfor%}
            {%endif%}
         {%endwith%}
      </div>
   </div>
   
   <div class="row">
      <div class="col-md-12">
         <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                  <label for="text_in">Cargar dataset</label>
                  <input type="file" name="file" />
                  <label for="ks">Por favor ingrese k</label>
                  <input type="number" class="form-control" name="k_form" required="1" min="1" max="25" style="max-width: 200px;">
                  <br>
                  <input type="submit" value="Upload" />
            </div>
         </form>
      </div>
   </div> 
{% include "footer.html" %}
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>