{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         {%with messages = get_flashed_messages()%}
         {%if messages%}
         {% for message in messages %}
         <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
               <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
         </div>
         {%endfor%}
         {%endif%}
         {%endwith%}
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <label for="ks">Conjuntos de datos</label>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">DataSet</th>
                     <th scope="col">Download</th>
                     <th scope="col">Delete</th>
                  </tr>
               </thead>
               <tbody>
                  {% for file in files %}
                  <tr>
                     <th scope="row">{{loop.index}}</th>
                     <td>{{file}}</td>
                     <td><a href="http://localhost:11000/download/{{file}}"><i class="fa fa-download"></i></a></td>
                     <td><a href="http://localhost:11000/delete/{{file}}"><i class="fa fa-minus-square"></i></a></td>
                  </tr>
                  {%endfor%}
               </tbody>
            </table>
      </div>
   </div>
   {% include "footer.html" %}
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>