{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="text">Petición: {{data}}</label>
            <br>
            <label for="text_in">Resultado</label>
            <textarea name="text_out" id="" cols="60" rows="10" class="form-control">{{result}} </textarea>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}